/*  your css code here. If applicable */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}

p{
	font-size: 14px;
	margin-top: 40px;
}

img {
	width: 300px;
}

.left{
	width: 400px;
	margin-top: 70px;
	display: inline-block;
}

.right {
	display: flex;
	width: 300px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
	flex-direction: column;
	gap: 10px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


input {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

#login {
	background-color: #1877f2;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
	cursor: pointer;
	color: white;
	border: none;
}

a {
	text-decoration: none;
	color: #1877f2;
}

.signup {
	background-color: #42b72a;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
	cursor: pointer;
	color: white;
	border: none;
}
